@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao Gestor de Seguros</h1>
    <p>Visite <a href="https://github.com/edsonaraujo1/Teste_Entrevista_Seguro" target="_blank">Projeto completo no GitHub - ASP.NET Core</a>.</p>
    <p>Para Informações de login entre: <a href="https://github.com/edsonaraujo1/Teste_Entrevista_Seguro" target="_blank">aqui</a></p>
</div>
